.page1{
    /* background-color: yellowgreen; */
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin-top: 5%;
    
}
.page1 .img{
    height: 70%;
    width: 100%;
}
.B{
    margin-left: 50px;
     width: 100% ;
     height: 100%;
}
/* input{
    height: 5px;
    border: none;
    width: 70%;
    padding: 20%;
} */
.page2{
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin-top: 5%; 
    display: none;
}

.foto{
    height: 50px;
    width: 100px;
    margin-top: 5px;
}

.S {
    margin-left: 50px;
     width: 300% ;
     height: 100%;
}
.page3{
    /* background-color: coral; */
    display: flex;
    justify-content: space-between;
    display: none;
    /* padding: 30px
    height: 100%;
    width: 100%;
    margin-top: 5%;
    /* display: none;   */
}
.U{
    margin-left: 50px;
    width: 100% ;
    height: 100%; 
}
.nom{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    height: 60%;
}
.nom button{
    height: 40px;
}
.resistration{
    height: 441px;
    width: 90%; 
    /* background-color: blue; */
    padding: 10px;
    margin-right: 50px; 
}

.Cc{
    /* color: red; */
    border:none;
    border-bottom: 2px solid black;
}
.Dd{
    color: aqua;
    text-align: center;
}

.Pp{

     border: none;
     border-bottom: 3px solid black
}

.fff{
    border: none;
    box-shadow: 0 0 0 0;
    outline: 0;
    border-bottom: 2px solid black;
    width: 500px;
}
.Z{
    display: flex;
    font-size: 40px;
}
.bout1{
    
    margin-top: 0px;
    height: 50px;
    /* display: none; */
}
.bout2{
    margin-top: 5px;
    height: 50px;
    /* display: none;   */
}
.bout3{
    
    margin-top: 50px;
    height: 50px;
    color: green; 
    /* display: none;   */
    display: flex;
}
.bout4{
    margin-top: 10px;
    height: 50px;
    color: rgb(59, 49, 49);

}
.Hd{
    display: flex;
    
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    height: 47%;
    border: none;
    border-bottom: 2px; solid: black
}
.Ii{
    display: flex;
    font-size: 40px;
    height: 50px;
}
 .second{
    height: 415px;
    width: 100%; 
    
    padding: 10px;
    margin-right: 50px;
    /* background-color: brown;  */
  }
  .Jj{
    height: 60%;
    width: 100%;
    
    margin-left: 10px;
    margin-right: 10px;
  }
  .tof{
    height: 400px;
    width: 550px;
  }
  .foto{
    height: 400px;
    width: 500px;
  }